#wrapper #border td{

}
.header{
  position: relative;;
  background: red;
  height: 12%;
}
.wrapper {
  width: 100%;
  margin: auto;
  padding: 0;
}
.kanan {
  position: relative;
	float: right;
  width: 40%;
}
.kanan > table {
  position: absolute;
  width: 100%;
  top : 0;
  right: 0;
  background: white
}
.kanan > table td {
  padding: 5px;
}
/*Batas*/
.kiri {
  float: left;
  width: 60%;
}
.kiri > .logo {
  float: left;
  margin-top: 10px;
}
.kiri .judul_atas p{
  line-height: 17px;
}
.kiri > .judul_atas {
  float: left;
}
.noborder th {
	border: 1px solid #000;
}
.kiri .judul_atas h2 {
  line-height: 10px;
}

body,td,th {
	font-family: "Lucida Console", Monaco, monospace;
        font-size: 12px;

}
td {
	height: 13px;

}
.hide {
    display: none;
}
.judul {
    padding: 3px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}
.white {
    color: #fff;
}
img {
	margin-left: 5px;
}

.sepuluh {
	font-size: 8px;
}
.besar {
    height: 15px;
}
