/*
    Document   : unit
    Created on : 14-Feb-2013, 01:15:33
    Update     : 19-Jun-2017, 04:19:10
    Author     : Jabbarbie
    Description:
        Purpose of the stylesheet follows.
*/
.tangan_list img{
  position: absolute;
  bottom: -100%;
  left: -1%;
  width: 80px;
}
.tangan_div {
  width: 100%;
  position: relative;
}
